<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnksys.esg.mapper.AdminMapper">

    <select id = "findAnswerCount">
        SELECT COUNT(*) cnt
          FROM INQUIRY
         WHERE PARENT_ID = #{parentid}
    </select>

    <select id = "maxApiListId">
        SELECT COALESCE(MAX(API_LIST_ID), 0) + 1
        FROM API_LIST
    </select>

    <select id = "findApiList">
        SELECT apilist.API_LIST_ID
             , API_NM
             , PRV_ORG
             , API_EXPL
             , API_RGDT
             , DATA_FORMAT
             , METHOD_TYPE
             , SITE_DVCD
             , USE_DVCD
             , API_KEYWORD
             , API_URL
             , site.CODE_VALUE SITENM
             , apilist.API_APPLY_ID
             , apiapply.APPLY_NM API_APPLY_NM
             , COUNT(*) OVER() TOTAL
          FROM API_LIST apilist
     LEFT JOIN COM_CODE site
            ON site.CODE = "SITE"
           AND site.CODE_LABEL = apilist.SITE_DVCD
     LEFT JOIN API_APPLY apiapply
            ON apilist.API_APPLY_ID = apiapply.API_APPLY_ID
         WHERE 1 = 1
        <if test="apilistid != null">
           AND apilist.API_LIST_ID = #{apilistid}
        </if>
      ORDER BY API_LIST_ID DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findApiList_Search">
       SELECT apilist.API_LIST_ID
            , API_NM
            , PRV_ORG
            , API_EXPL
            , API_RGDT
            , DATA_FORMAT
            , METHOD_TYPE
            , SITE_DVCD
            , USE_DVCD
            , API_KEYWORD
            , site.CODE_VALUE SITENM
            , apilist.API_APPLY_ID
            , apiapply.APPLY_NM API_APPLY_NM
            , COUNT(*) OVER() TOTAL
         FROM API_LIST apilist
   INNER JOIN COM_CODE site
           ON site.CODE = "SITE"
          AND site.CODE_LABEL = apilist.SITE_DVCD
    LEFT JOIN API_APPLY apiapply
           ON apilist.API_APPLY_ID = apiapply.API_APPLY_ID
        WHERE 1 = 1
          AND (API_NM LIKE CONCAT('%', #{string}, '%')
           OR API_EXPL LIKE CONCAT('%', #{string}, '%')
           OR API_KEYWORD LIKE CONCAT('%', #{string}, '%'))
     ORDER BY API_LIST_ID DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findApi_ApplyLIST">
        SELECT APIAPPLY.API_APPLY_ID
             , APIAPPLY.USER_ID USER_ID
             , APIAPPLY.APPLY_NM
             , APIAPPLY.APPLY_CNTN
             , APIAPPLY.APPLY_DATE
             , APIAPPLY.RPLY_DATE
             , APIAPPLY.APPLY_DVCD
             , user.USER_NAME USER_NAME
             , apilist.API_LIST_ID API_LIST_ID
             , apilist.API_NM apinm
             , COUNT(*) OVER() TOTAL
          FROM API_APPLY APIAPPLY
    INNER JOIN USER user
            ON APIAPPLY.USER_ID = user.USER_ID
     LEFT JOIN API_LIST apilist
            ON apilist.API_LIST_ID = APIAPPLY.API_LIST_ID
         WHERE 1 = 1
        <if test="apiapplyid != null">
           AND APIAPPLY.API_APPLY_ID = #{apiapplyid}
        </if>
      ORDER BY API_APPLY_ID DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findApi_ApplyList_ByName">
        SELECT API_APPLY_ID
             , APPLY_NM
          FROM API_APPLY
         WHERE APPLY_NM LIKE CONCAT('%', #{applynm}, '%')
           AND APPLY_DVCD = "03"
    </select>

    <select id = "findinQuiry">
        SELECT inquiry.INQUIRY_ID
             , INQUIRY_NM
             , INQUIRY_CNTN
             , REG_DT
             , PARENT_ID
             , inquiry.USER_ID USER_ID
             , user.USER_NAME USER_NAME
             , reply.REPLY_COUNT
             , COUNT(*) OVER() TOTAL
          FROM INQUIRY inquiry
    INNER JOIN USER user
            ON user.USER_ID = inquiry.USER_ID
     LEFT JOIN (SELECT inquiry1.INQUIRY_ID INQUIRY_ID
                     , COUNT(*) REPLY_COUNT
                  FROM INQUIRY inquiry1
                     , INQUIRY inquiry2
                 WHERE inquiry1.INQUIRY_ID = inquiry2.PARENT_ID
              GROUP BY inquiry1.INQUIRY_ID) reply
                    ON inquiry.INQUIRY_ID = reply.INQUIRY_ID
         WHERE PARENT_ID IS NULL
        <if test="inquiryid != null">
          AND inquiry.INQUIRY_ID = #{inquiryid}
        </if>
      ORDER BY INQUIRY_ID DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findApiKey">
      SELECT apikey.API_KEY_ID
           , apikey.SITE_DVCD
           , site.CODE_VALUE SITENM
           , apikey.API_KEY
           , apikey.STRDT
           , apikey.EDT
        FROM API_KEY apikey
  INNER JOIN COM_CODE site
          ON site.CODE = "SITE"
         AND site.CODE_LABEL = apikey.SITE_DVCD
      <if test="apikeyid != null">
       WHERE API_KEY_ID = #{apikeyid}
      </if>
    ORDER BY SITE_DVCD
       LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findApiKey_Search">
        SELECT apikey.API_KEY_ID
             , apikey.SITE_DVCD
             , site.CODE_VALUE SITENM
             , apikey.API_KEY
             , apikey.STRDT
             , apikey.EDT
          FROM API_KEY apikey
    INNER JOIN COM_CODE site
            ON site.CODE = "SITE"
           AND site.CODE_LABEL = apikey.SITE_DVCD
         WHERE site.CODE_VALUE LIKE CONCAT('%', #{name}, '%')
      ORDER BY SITE_DVCD
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findComCode">
      SELECT ID
           , CODE
           , CODE_LABEL
           , CODE_VALUE
        FROM COM_CODE
      <if test="id != null">
       WHERE ID = #{id}
      </if>
    ORDER BY CODE,CODE_LABEL
       LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findAdmin_ComCode_Search">
        SELECT ID
             , CODE
             , CODE_LABEL
             , CODE_VALUE
          FROM COM_CODE
         WHERE CODE LIKE CONCAT('%', #{code}, '%')
      ORDER BY CODE_LABEL
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id ="findComCode_Search">
        SELECT ID
        , CODE
        , CODE_LABEL
        , CODE_VALUE
        FROM COM_CODE
       WHERE CODE = #{code}
         AND CODE_VALUE LIKE CONCAT('%', #{codevalue}, '%')
    ORDER BY CODE,CODE_LABEL
    </select>

    <select id = "findinQuiryAnswer">
        SELECT inquiry.INQUIRY_ID
             , INQUIRY_NM
             , INQUIRY_CNTN
             , REG_DT
             , PARENT_ID
             , inquiry.USER_ID USER_ID
             , user.USER_NAME USER_NAME
          FROM INQUIRY inquiry
    INNER JOIN USER user
            ON user.USER_ID = inquiry.USER_ID
         WHERE PARENT_ID IS NOT NULL
           AND PARENT_ID = #{inquiryid}
    </select>

    <select id = "findNeed_Request">
      SELECT ari.API_RQRD_ITEMS_ID
           , ari.API_LIST_ID
           , apilist.API_NM
           , ari.RQRD_ITEM_NM
           , ari.RQRD_RQST_NM
           , ari.ITEM_EXPL
           , ari.SORT
           , COUNT(*) OVER() TOTAL
        FROM API_RQRD_ITEMS ari
  INNER JOIN API_LIST apilist
          ON apilist.API_LIST_ID = ari.API_LIST_ID
      <if test="apirqrditemsid != null">
         AND ari.API_RQRD_ITEMS_ID = #{apirqrditemsid}
      </if>
     <if test="apinm != null">
         AND apilist.API_NM LIKE CONCAT('%', #{apinm}, '%')
     </if>
    ORDER BY ari.API_RQRD_ITEMS_ID
       LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id = "findNeed_Response">
      SELECT ari.API_RSQE_ITEMS_ID
           , ari.API_LIST_ID
           , apilist.API_NM
           , ari.KR_NM
           , ari.EN_NM
           , COUNT(*) OVER() TOTAL
        FROM API_RSQE_ITEMS ari
  INNER JOIN API_LIST apilist
          ON apilist.API_LIST_ID = ari.API_LIST_ID
      <if test="apirsqeitemsid != null">
         AND ari.API_RSQE_ITEMS_ID = #{apirsqeitemsid}
      </if>
      <if test="apinm != null">
         AND apilist.API_NM LIKE CONCAT('%', #{apinm}, '%')
      </if>
    ORDER BY ari.API_RSQE_ITEMS_ID
       LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <insert id = "saveinquiry_Answer">
        INSERT INTO INQUIRY(INQUIRY_NM, INQUIRY_CNTN, REG_DT, PARENT_ID, USER_ID, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
        VALUES (#{inquiryDto.inquirynm}, #{inquiryDto.inquirycntn}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), #{inquiryDto.parentid}, #{userid}
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
    </insert>

    <insert id = "saveNotice">
        INSERT INTO NOTICE(NOTICE_NM, NOTICE_CNTN, REG_DT, ATCH_FILE_ID, HIT, USER_ID, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
        VALUES(#{noticenm}, #{noticecntn}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), CASE WHEN #{atchfileid} = 0 THEN NULL ELSE #{atchfileid} END, 0, #{userid}
              , #{userid}
              , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
              , #{userid}
              , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
    </insert>

    <insert id="saveApiList">
        INSERT INTO API_LIST(API_LIST_ID, API_NM, PRV_ORG, API_VIEW, API_EXPL, API_RGDT, API_APPLY_ID, DATA_FORMAT, API_KEYWORD
                            , SITE_DVCD, USE_DVCD, METHOD_TYPE, API_URL, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
        VALUES (#{apiresultDto.apilistid}, #{apiresultDto.apinm}, #{apiresultDto.prvorg}, 0, #{apiresultDto.apiexpl}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'),
                CASE WHEN #{apiresultDto.apiapplyid} = 0 THEN NULL ELSE #{apiresultDto.apiapplyid} END, #{apiresultDto.dataformat}, #{apiresultDto.apikeyword}
               , #{apiresultDto.sitedvcd}, #{apiresultDto.usedvcd}, #{apiresultDto.methodtype}, #{apiresultDto.apiurl}
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
    </insert>

  <insert id = "saveapikey">
    INSERT INTO API_KEY(SITE_DVCD, API_KEY, STRDT, EDT, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
    VALUES (#{apikeydto.sitedvcd}, #{apikeydto.apikey}, #{apikeydto.strdt}, #{apikeydto.edt}
           , #{userid}
           , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
           , #{userid}
           , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
  </insert>

  <insert id = "save_comcode">
    INSERT INTO COM_CODE(CODE, CODE_LABEL, CODE_VALUE, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
    VALUES (#{comcodeDto.code}, #{comcodeDto.codelabel}, #{comcodeDto.codevalue}
           , #{userid}
           , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
           , #{userid}
           , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
  </insert>

  <insert id = "save_needrequest">
    INSERT INTO API_RQRD_ITEMS(API_LIST_ID, RQRD_ITEM_NM, RQRD_RQST_NM, ITEM_EXPL, SORT, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
    VALUES (#{apineedRequestDto.apilistid}, #{apineedRequestDto.rqrditemnm}, #{apineedRequestDto.rqrdrqstnm}, #{apineedRequestDto.itemexpl}, #{apineedRequestDto.sort}
          , #{userid}
          , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
          , #{userid}
          , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
  </insert>

  <insert id = "save_needresponse">
    INSERT INTO API_RSQE_ITEMS(API_LIST_ID, KR_NM, EN_NM, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
    VALUES (#{apineedResponseDto.apilistid}, #{apineedResponseDto.krnm}, #{apineedResponseDto.ennm}
         , #{userid}
         , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
         , #{userid}
         , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
  </insert>

    <update id = "updateApiList">
        UPDATE API_LIST
           SET API_NM = #{apiresultDto.apinm}
             , PRV_ORG = #{apiresultDto.prvorg}
             , API_EXPL = #{apiresultDto.apiexpl}
             , API_RGDT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
             , API_APPLY_ID = CASE WHEN #{apiresultDto.apiapplyid} = 0 THEN NULL ELSE #{apiresultDto.apiapplyid} END
             , DATA_FORMAT = #{apiresultDto.dataformat}
             , API_KEYWORD = #{apiresultDto.apikeyword}
             , SITE_DVCD = #{apiresultDto.sitedvcd}
             , USE_DVCD = #{apiresultDto.usedvcd}
             , METHOD_TYPE = #{apiresultDto.methodtype}
             , API_URL = #{apiresultDto.apiurl}
             , LST_CHPR = #{userid}
             , LST_CH_DTTI = CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
         WHERE API_LIST_ID = #{apiresultDto.apilistid}
    </update>

    <update id="updateApi_ApplyStatus">
        UPDATE API_APPLY
           SET RPLY_DATE = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
             , APPLY_DVCD = #{apiapplyDto.applydvcd}
         WHERE API_APPLY_ID = #{apiapplyDto.apiapplyid}
    </update>

    <update id = "updateinquiry_Answer">
        UPDATE INQUIRY
           SET INQUIRY_NM = #{inquiryDto.inquirynm}
             , INQUIRY_CNTN = #{inquiryDto.inquirycntn}
             , REG_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
             , USER_ID = #{userid}
         WHERE PARENT_ID = #{inquiryDto.parentid}
    </update>

  <update id = "updateapikey">
       UPDATE API_KEY
          SET SITE_DVCD = #{apikeydto.sitedvcd}
            , API_KEY = #{apikeydto.apikey}
            , STRDT = #{apikeydto.strdt}
            , EDT = #{apikeydto.edt}
            , LST_CHPR = #{userid}
            , LST_CH_DTTI = CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
        WHERE API_KEY_ID = #{apikeydto.apikeyid}
  </update>

  <update id = "update_comcode">
    UPDATE COM_CODE
    SET CODE = #{comcodeDto.code}
      , CODE_LABEL = #{comcodeDto.codelabel}
      , CODE_VALUE = #{comcodeDto.codevalue}
      , LST_CHPR = #{userid}
      , LST_CH_DTTI = CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
  WHERE ID = #{comcodeDto.id}
  </update>

  <update id = "update_needrequest">
    UPDATE API_RQRD_ITEMS
       SET API_LIST_ID = #{apineedRequestDto.apilistid}
         , RQRD_ITEM_NM = #{apineedRequestDto.rqrditemnm}
         , RQRD_RQST_NM = #{apineedRequestDto.rqrdrqstnm}
         , ITEM_EXPL = #{apineedRequestDto.itemexpl}
         , SORT = #{apineedRequestDto.sort}
         , LST_CHPR = #{userid}
         , LST_CH_DTTI = CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
     WHERE API_RQRD_ITEMS_ID = #{apineedRequestDto.apirqrditemsid}
  </update>

  <update id = "update_needresponse">
    UPDATE API_RSQE_ITEMS
       SET API_LIST_ID = #{apineedResponseDto.apilistid}
         , KR_NM = #{apineedResponseDto.krnm}
         , EN_NM = #{apineedResponseDto.ennm}
         , LST_CHPR = #{userid}
         , LST_CH_DTTI = CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
     WHERE API_RSQE_ITEMS_ID = #{apineedResponseDto.apirsqeitemsid}
  </update>

</mapper>