<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnksys.esg.mapper.ApiRequestMapper">
    
    <select id="getRequired_Items">
        SELECT API_RQRD_ITEMS_ID
             , API_LIST_ID
             , RQRD_ITEM_NM
             , RQRD_RQST_NM
             , ITEM_EXPL
             , SORT
          FROM API_RQRD_ITEMS
         WHERE API_LIST_ID = #{apilistid}
    </select>

    <select id = "findurlAndkey">
       SELECT apilist.API_URL API_URL
            , apikey.API_KEY API_KEY
         FROM API_LIST apilist
   INNER JOIN API_KEY apikey
           ON apilist.SITE_DVCD = apikey.SITE_DVCD
          AND apilist.API_LIST_ID = #{apilistid};
    </select>

    <select id = "findKor_Eng">
        SELECT KR_NM
             , EN_NM
          FROM API_RSQE_ITEMS
         WHERE API_LIST_ID = #{apilistid}
    </select>

    <select id = "findMethod_Type">
        SELECT METHOD_TYPE
          FROM API_LIST
         WHERE API_LIST_ID = #{apilistid}
    </select>

    <select id = "findDataFormat">
        SELECT DATA_FORMAT
          FROM API_LIST
         WHERE API_LIST_ID = #{apilistid}
    </select>

    <select id = "findApiNm">
        SELECT API_NM
          FROM API_LIST
         WHERE API_LIST_ID = #{apilistid}
    </select>

    
</mapper>