<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnksys.esg.mapper.MainMapper">

    <select id = "getApiList" resultType="apiResultDto">
        SELECT apilist.API_LIST_ID API_LIST_ID
             , API_NM
             , PRV_ORG
             , API_VIEW
             , API_EXPL
             , API_RGDT
             , API_APPLY_ID
             , COUNT_API_USES
          FROM API_LIST apilist
     LEFT JOIN (SELECT API_LIST_ID
                     , count(*) COUNT_API_USES
                  FROM API_USES
              GROUP BY API_LIST_ID ) apiuses
            ON apiuses.API_LIST_ID = apilist.API_LIST_ID
        WHERE API_NM LIKE CONCAT('%', #{name}, '%')
    <if test="sortBy == 'register' ">
      ORDER BY API_LIST_ID DESC
    </if>
    <if test="sortBy == 'view' ">
      ORDER BY API_VIEW DESC
    </if>
    <if test="sortBy == 'nbruses' ">
        ORDER BY COUNT_API_USES DESC
    </if>
    </select>

    <select id="findbyemail" resultType="int" parameterType="java.lang.String">
        SELECT USER_ID
          FROM USER
         WHERE EMAIL = #{email}
    </select>

    <select id = "getNoticeDetail" resultType="noticeDto">
        SELECT NOTICE.NOTICE_ID NOTICE_ID
             , NOTICE.NOTICE_NM AS NOTICE_NM
             , NOTICE.NOTICE_CNTN AS NOTICE_CNTN
             , NOTICE.REG_DT REG_DT
             , NOTICE.ATCH_FILE_ID ATCH_FILE_ID
             , NOTICE.HIT HIT
        FROM NOTICE NOTICE
       WHERE NOTICE.NOTICE_ID = #{noticeid}
    </select>

    <select id = "getNoticeList">
        SELECT *
          FROM NOTICE
      ORDER BY NOTICE_ID DESC
        <if test="mainsort == 'yes' ">
            LIMIT 1
        </if>
    </select>

    <select id = "getNoticeDetail_Atchfile">
        SELECT *
          FROM ATCH_DETAIL_FILE
         WHERE ATCH_FILE_ID = #{atchfileid}
    </select>

    <select id = "getapiList_Top5">
        SELECT *
          FROM API_LIST
        <if test="sort == 'view' ">
            ORDER BY API_VIEW DESC
        </if>
        <if test="sort == 'recent' ">
            ORDER BY API_LIST_ID DESC
        </if>
         LIMIT 2
    </select>

</mapper>