<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnksys.esg.mapper.SchNtfMapper">

    <select id = "MaxbatchlistId">
        SELECT COALESCE(MAX(BATCH_LIST_ID), 0) + 1
        FROM BATCH_LIST
    </select>

    <select id = "getApiName">
        SELECT API_NM
          FROM API_LIST
         WHERE API_LIST_ID = #{apilistid}
    </select>

    <insert id="save_BatchSchedule">
        INSERT INTO BATCH_LIST
        VALUES (#{batchlistDto.batchlistid}, #{userid}, #{batchlistDto.apilistid}, #{batchlistDto.email}, #{batchlistDto.apiformat}, #{batchlistDto.batchtime}, #{batchlistDto.frequency},
                #{batchlistDto.time}, #{batchlistDto.dayofweek}, #{batchlistDto.dayofmonth}, "01"
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
               , #{userid}
               , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
    </insert>

    <insert id="save_BatchDetailArgs">
        INSERT INTO BATCH_DETAIL_LIST (BATCH_LIST_ID, ARG1, ARG2, ARG3, ARG4, ARG5, ARG6, ARG7, ARG8, ARG9, ARG10, STCD, FST_RGRP, FST_RG_DTTI, LST_CHPR, LST_CH_DTTI)
        VALUES
        <foreach collection="batchDetailargsDto" item="batchDetail" separator=",">
            (
            #{batchlistid},
            #{batchDetail.arg1},
            #{batchDetail.arg2},
            #{batchDetail.arg3},
            #{batchDetail.arg4},
            #{batchDetail.arg5},
            #{batchDetail.arg6},
            #{batchDetail.arg7},
            #{batchDetail.arg8},
            #{batchDetail.arg9},
            #{batchDetail.arg10},
            "01"
            , #{userid}
            , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0'))
            , #{userid}
            , CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(EXTRACT(MICROSECOND FROM SYSDATE(3)) / 1000), 3, '0')))
        </foreach>
    </insert>

    <insert id = "save_Alarm">
        INSERT INTO ALARM(TITLE, CONTENT, REG_DT, READ_CHECK, SEND_USER, RCV_USER)
        VALUES (#{title}, #{content}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), FALSE, #{senduser}, #{rcvuser})
    </insert>


</mapper>