<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnksys.esg.mapper.UseCaseMapper">

    <select id = "findUseCase_apiDetail">
        SELECT USECASE.USE_CASE_ID USE_CASE_ID
             , REG_DT
             , TITLE
             , CONTENT
             , user.USER_NAME USER_NAME
        FROM USE_CASE USECASE
 INNER JOIN USE_CASE_API_LIST UCAL
            ON USECASE.USE_CASE_ID = UCAL.USE_CASE_ID
                AND UCAL.API_LIST_ID = #{apilistid}
 INNER JOIN USER user
        ON user.USER_ID = USECASE.USER_ID
    </select>


</mapper>